# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

*.json

# LaTeX build files
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Bibliography
*.bbl
*.blg

# Misc
*.nav
*.snm
*.vrb

report/main.pdf